name: GitHub Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  metrics:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          user: YUG3011
          template: classic
          base: header, activity, community, repositories
          languages: yes
          languages.limit: 10
          languages.details: percentage
          config.timezone: Asia/Kolkata
          output: github-metrics.svg
